
.db{
position:relative;
}

body{
background:url('clouds.jpg');
font-family: 'Lobster', arial;
}

td{
text-align:center;
width:175px;

}
.for{
padding:25px 25px 25px 25px;
}
.ln{
float: right;
}
.tb{
align:center;
width:100%;
background:transparent;

}

.fb {
	 font-weight: bold;
	 text-align:center;
}

 